{% extends 'main/base.html' %}
{% load static %}

{% block content %}
        <div class="container-fluid home-slider">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" style="background-color: #343a40!important">
                        <div class="carousel-caption d-none d-md-block">
                            <h1>{{ post.h1 }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <nav aria-label="breadcrumb" class="mt-4">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Пост номер 1</li>
                        </ol>
                    </nav>
                    <img class="img-fluid rounded " src="{{ post.image.url }}" alt="">
                    <hr>
                    <p class="lead">{{ post.h1 }}</p>
                    <p>{{ post.text }}</p>
                    <div class="d-flex justify-content-end">
                        <a href="" class="mr-1 badge badge-info">#NuxtJS</a>
                        <a href="" class="mr-1 badge badge-info">#CSS</a>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="mr-auto p-2 lead">Автор: Вася Пупкин</div>
                        <div class="p-2">Опубликовано: 20.10.2020</div>
                    </div>
                    <hr>
                    <div class="card my-4">
                        <h5 class="card-header">Прокомментируй:</h5>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <textarea class="form-control" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Отправить</button>
                            </form>
                        </div>
                    </div>
                    <div class="media mb-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Дуся Иванова</h5>
                            Мое очень важное мнение по данной статье. Мое очень важное мнение по данной статье. Мое очень важное мнение по данной статье. Мое очень важное мнение по данной статье. Мое очень важное мнение по данной статье.
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card my-4">
                        <h5 class="card-header">Теги</h5>
                        <div class="card-body">
                            <div class="d-flex flex-wrap">
                                <a href="" class="m-2 h5">#CSS</a>
                                <a href="" class="m-2 h5">#JavaScript</a>
                                <a href="" class="m-2 h5">#DRF</a>
                                <a href="" class="m-2 h5">#NuxtJS</a>
                                <a href="" class="m-2 h5">#Django</a>
                                <a href="" class="m-2 h5">#VueJS</a>
                            </div>
                        </div>
                    </div>

                    <div class="card my-4">
                        <h5 class="card-header">Последние статьи</h5>
                        {% for post in last_posts %}
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <p class="card-text">{{ post.h1 }}</p>
                                <a href="{% url 'post_detail' post.id %}" class="card-link">Ссылка на статью</a>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}
